altair==4.1.0
backports.zoneinfo==0.2.1
blinker==1.4
brotlipy==0.7.0
cachetools==4.2.4
certifi==2021.5.30
click==8.0.4
cryptography==2.3.1
docopt==0.6.2
entrypoints==0.3
gitdb==4.0.9
GitPython==3.1.18
importlib-resources==5.4.0
ipywidgets==7.7.0
jedi==0.17.0
jupyter-client==5.3.3
jupyter-core==4.5.0
jupyterlab==1.2.6
jupyterlab-server==1.0.0
jupyterlab-widgets==1.1.0
mccabe==0.6.1
mistune==0.8.4
mkl-service==2.3.0
nbconvert==5.5.0
notebook==5.3.1
numpy==1.19.5
olefile==0.46
pandas==1.1.5
Pillow==8.4.0
pipreqs==0.4.11
protobuf==3.19.4
pyarrow==6.0.1
pydeck==0.6.2
Pympler==1.0.1
pyOpenSSL==19.0.0
pytz==2021.3
pywin32==303
pywinpty==1.1.6
semver==2.13.0
smmap==5.0.0
spyder==3.2.8
streamlit==1.8.1
terminado==0.12.1
toolz==0.11.2
tornado==5.1.1
tzdata==2022.1
tzlocal==4.2
validators==0.18.2
watchdog==2.1.7
webencodings==0.5.1
widgetsnbextension==3.6.0
wincertstore==0.2
wrapt==1.12.1
yarg==0.1.9
